<!DOCTYPE html>
<html>

<head>
    <script src='https://unpkg.com/vue@next'></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <!--
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    -->

    <style>
        #play-with-vue {
            margin-top: 15px;
        }

        .vue-icon {
            text-align: center;
        }

        .vue-icon-child {
            margin: 15px 0px;
            border-radius: 12px;
            cursor: pointer;
            padding: 15px;
        }

        .vue-icon-checked {
            background-color: #66f;
        }

        .vue-icon img {
            width: 100px;
            height: 100px;
        }

        .vue-icon-child.selection-not-allowed {
            cursor: not-allowed;
            opacity: 0.5;
        }

        .icon-list {
            margin-top: 15px;
        }
    </style>
</head>

<body>
    <div class="container" id="play-with-vue">
        <div class="row">
            <vue-icon v-for="icon of icons" :class="['col-lg-3 vue-icon']"
                :child-class="['vue-icon-child', selectedItems[icon.id] ? 'vue-icon-checked' : '', finalList.length === 0 ? '' : 'selection-not-allowed']"
                :icon-src="icon.src" :icon-title="icon.title" :key="icon.id"
                @vue-icon-clicked="finalList.length === 0 ? toggleClass(icon.id) : undefined">
            </vue-icon>
        </div>
        <div class="d-flex justify-content-center" v-if="Object.keys(selectedItems).length">
            <button class="btn-primary" v-on:click="generatedList">
                Get names of selected items
            </button>

            <button class="btn-danger ml-2" v-on:click="clearSelection">
                Clear list
            </button>
        </div>
        <div class="d-flex justify-content-center icon-list" v-if="finalList.length">
            <ul>
                <li v-for="(item, index) in finalList" v-bind:key="index">
                    {{item}}
                </li>
            </ul>
        </div>
    </div>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    icons: [
                        {
                            src: "./fontawesome-free-5.15.0-web/svgs/wifi.svg",
                            title: 'WiFi',
                            id: 1
                        },
                        {
                            src: "./fontawesome-free-5.15.0-web/svgs/network-wired.svg",
                            title: 'Network',
                            id: 2
                        },
                        {
                            src: "./fontawesome-free-5.15.0-web/svgs/bluetooth.svg",
                            title: 'Bluetooth',
                            id: 3
                        },
                        {
                            src: "./fontawesome-free-5.15.0-web/svgs/address-book.svg",
                            title: 'Contacts',
                            id: 4
                        },
                        {
                            src: "./fontawesome-free-5.15.0-web/svgs/fingerprint.svg",
                            title: 'Fingerprint',
                            id: 5
                        },
                        {
                            src: "./fontawesome-free-5.15.0-web/svgs/plane-slash.svg",
                            title: 'Aeroplace mode',
                            id: 6
                        },
                        {
                            src: "./fontawesome-free-5.15.0-web/svgs//sync.svg",
                            title: 'Sync',
                            id: 7
                        },
                        {
                            src: "./fontawesome-free-5.15.0-web/svgs/plug.svg",
                            title: "Charge",
                            id: 8
                        },
                        {
                            src: "./fontawesome-free-5.15.0-web/svgs//search-location.svg",
                            title: "Search location",
                            id: 9
                        },
                        {
                            src: "./fontawesome-free-5.15.0-web/svgs/battery-full.svg",
                            title: "Battery",
                            id: 10
                        },
                    ],
                    selectedItems: {},
                    finalList: [],
                }
            },
            methods: {
                toggleClass(id) {
                    if (this.selectedItems[id]) {
                        delete this.selectedItems[id];
                    } else {
                        this.selectedItems[id] = true;
                    }
                },
                generatedList() {
                    this.finalList = Object.keys(this.selectedItems).map(id => parseInt(id)).map(id => this.icons.filter(icon => icon.id === id)[0].title);
                },
                clearSelection() {
                    this.finalList = [];
                }
            }
        });

        app.component("vue-icon", {
            props: ["iconSrc", "iconTitle", "childClass"],
            template: `
                <div @click="$emit('vue-icon-clicked')">
                    <div :class="childClass">
                        <img v-bind:src="iconSrc" />
                        <p>{{iconTitle}}</p>
                    </div>
                </div>
            `,
        });

        app.mount("#play-with-vue");
    </script>
</body>

</html>